*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    height: 100vh;
    background-color: BLACK;
}
#back{
    width: 100%;
    height: 100vh;
    /* background-color: red; */
}
#top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0a0909d8;
}
#workingarea{
    margin: 0 auto;
    height: 100vh;
    width: 80%;
    max-width: 1920px;
   /* border: 1px solid red; */
}
#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 40px 0;
}
#nav img{
    height: 60px;
}
#nleft , #nright{
    display: flex;
    align-items: center;
    gap: 60px;
}
#nleft a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    font-family: "gilroy";
}
#nright a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    font-family: "gilroy";
}
#hero{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}
#heroleft{
    min-width: 50%;
    height: 100px;
    background-color: yellow;
}
#heroright{
    min-width: 25%;
    height: 100px;
    background-color: rgb(0, 255, 98);
}